$default_font_family: "Metrophobic", sans-serif;
$white-primary: #fff;
$defult_font_size: 14px;
$default_border_radius: 4px;
$default_font_weignth: 500;
$default_line_height: 24px;
$colors: (
  primary: #ED017F,
  secondary: #676767,
  tertiary: coral,
  quaternary: black,
  quinary: #7e0909,
  senary: rgb(99, 17, 17),
  septenary: #900a0a,
  octonary: #6b1273,
  nonary: #d47c7c,
  denary: #307e49,
);
